---

---

<p>
    This is my first attempt at using
    <a href="https://astro.build/" target="_blank">Astro</a>, a JavaScript-based
    static site generator. Astro projects are component-based simliar to React,
    though components are rendered on the server, and the user will be delivered
    content in HTML. Consequently it doesn't offer client-side interaction, such
    as access to the
    <code>DOM</code> or <code>window</code>. Thus I had to use some React
    components to achieve the SPA experience. I might migrate this project
    entirely to a SPA framework in the near future, but at least I got to
    understand what Astro is trying to achieve compared to those frameworks. The
    source code for this project can be found
    <a href="https://github.com/yuki-zmstr/portfolio2024" target="_blank"
        >here</a
    >.
</p>
<p>Previous Websites</p>
<p>&copy Yukihide Takahashi 2024</p>
